*{
    margin: 0;
    padding: 0;
}

.h1,h2 {
    color: #9f1e9f;
}
p{
    background-color: #7e838f;
}

fieldset {
    background-color: #864;
}
button {
    background-color: #b4aaad;
}
input {
    background-color: #edc037;
}